[package]
name = "borsh-derive"
version = "0.0.0"
authors = ["Near Inc <hello@nearprotocol.com>"]
edition = "2018"
license = "Apache-2.0"
readme = "README.md"
categories = ["encoding", "network-programming"]
repository = "https://github.com/nearprotocol/borsh"
homepage = "http://borsh.io"
description = """
Binary Object Representation Serializer for Hashing
"""

[lib]
proc-macro = true

[dependencies]
borsh-derive-internal = { path = "../borsh-derive-internal" }
borsh-schema-derive-internal = { path = "../borsh-schema-derive-internal" }
syn = {version = "1", features = ["full", "fold"] }
proc-macro-crate = "1.3.0"
proc-macro2 = "1"
